@using cartola.entity;
@model List<AtletaPontuado>

@{
    ViewBag.Title = "Pontuacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    body {
        background-color:rgb(238, 238, 238);
    }

</style>

<div class="alert @(ViewBag.MercadoStatus.StatusMercado == MercadoStatus.StatusRodada.Fechado ? "alert-danger" : "alert-sucess") fade in"> Estado do Mercado:<b>@ViewBag.MercadoStatus.StatusMercado</b></div>

<div style="margin-left: 30%;">
    @if(ViewBag.MercadoStatus.StatusMercado == MercadoStatus.StatusRodada.Fechado)
    { 
    foreach (AtletaPontuado o in Model.OrderByDescending(x => x.Pontuacao))
    {
        <ul class="list-group" style="width:40%;font-weight: bold;">
            <li class="list-group-item">
                @if (o.Foto != null)
                {
                    <img class="foto_60x60 img-thumbnail" src=@o.Foto.Replace("_FORMATO","_140x140") />
                }
                else
                {
                    <img class="foto_60x60 img-thumbnail" src="https://cartolafc.globo.com/dist/0.8.2/img/emptystate_jogador.svg" />
                }
                <span>@o.Apelido</span>
                @*<div>
                    <p style="visibility:@(o.oScout.CartaoAmarelo > 0 ? "visible" : "hidden")">CartaoAmarelo:@o.oScout.CartaoAmarelo</p>
                    <p>FaltaCometida:@o.oScout.FaltaCometida</p>
                    <p>FaltaSofrida:@o.oScout.FaltaSofrida</p>
                    <p>FinalizacaoDefendida:@o.oScout.FinalizacaoDefendida</p>
                    <p>FinalizacaoFora:@o.oScout.FinalizacaoFora</p>
                    <p>FinalizacaoTrave:@o.oScout.FinalizacaoTrave</p>
                    <p>Gol:@o.oScout.Gol</p>
                    <p>Impedimento:@o.oScout.Impedimento</p>
                    <p>PasseErrado:@o.oScout.PasseErrado</p>
                    <p>RoubadaBola:@o.oScout.RoubadaBola</p>
                </div>*@

                <span style="margin-top:7%;float:right;color:@((o.Pontuacao > 0 ? "#26ca5e" : "#ff0320")); ">@o.Pontuacao.ToString("0.00")</span>
            </li>
        </ul>
    }
    }
</div>
