body {
    overflow: scroll;
}

.foto_60x60 {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}

.foto_60x60_escudo {
    width: 60px;
    height: 60px;
    float:left;
}

li.jogador {

}

#atletas li {
    list-style:none;
    margin:10px;
}

#atletas li.time {
box-shadow: 10px 10px 5px lightgrey;
margin: 10px;
margin-bottom: 15px;
border-radius: 25px;
}
#atletas li.time ul.timedata{
border-radius: 25px;
border-style:solid;
color:grey;
}

#txtslugadd{
    width: 95%;
    height: 53px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: lightseagreen;
    background-color: lightblue;
    font-size: 45px;
    color: lightseagreen;
    font-weight: bold;
    }

ul#info {
    display:none;
}

.red {
    color:red;
    font-weight: bold;
}

.green {
    color:green;
    font-weight: bold;
}

li.jogador ul.scout {
margin-left:30px;
border-width: thin;
border-style: dashed;
border-color: gray;
border-top: none;
border-left: none;
display:none;
}

#img_icon_pm {
    background-image: url('../Imagem/plus-minus-icon-27953.png');
    float:right;
    width:60px;
    height:60px;
}

.btnlistar{
    width: 45px;
    height: 45px;
    float: right;
    margin-top: -65px;
    margin-right: 15px;
}

.nota_green{
    font-size:20px;
    float:left;
    margin-top:-15px;
    margin-left: 15px;
    position: absolute;
    color: green;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 1px;
    font-weight: bold;
}

.nota_red{
    font-size:20px;
    float:left;
    margin-top:-15px;
    margin-left: 15px;
    position: absolute;
    color: red;
    background-color: #ffaea8;
    border-radius: 5px;
    padding: 1px;
    font-weight: bold;   
}

.nota{
    font-size:20px;
    float:left;
    margin-top:-15px;
    margin-left: 15px;
    position: absolute;
    background-color:white;
    border-radius: 5px;
    padding: 1px;
    font-weight: bold;   
}

#ButtonPanel{
    background: lightskyblue;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px 5px;
    margin: 15px;
    margin-left: 0px;
    text-align: right;
    padding-right: 30px;
}

#ButtonPanel a{
    text-decoration: none;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
}

#ButtonPanel a:hover a:visited a:active {
    text-decoration: none;
}


#ButtonPanel ul{
    display: inline-flex;
    list-style: none;
    }

#ButtonPanel ul li{
    text-decoration: none;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
    margin-left: 10px;
}