body {
    overflow: scroll;
}

.foto_60x60 {
    width: 60px;
    height: 60px !important;
    background-color:white;
}

.foto_60x60_escudo {
    width: 60px;
    height: 60px;
    float:left;
}

.foto_40x40_escudo {
    width: 40px;
    height: 40px;
    float:left;
}

.timeColor {
    float: left;
    width: 1%;
    height: 48px;
}

#atletas {
    margin-left:10%;
}

#atletas li {
    list-style:none;
    margin-top:3px;
}

#atletas li.time {
border-radius: 15px;
width:90%;
}
#atletas li.time ul.timedata{
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color: lightgrey;
    color:grey;
    width:100%;
    height:50px;
    padding-left: 5px;
}

#txtslugadd{
    width: 95%;
    height: 53px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: lightseagreen;
    background-color: lightblue;
    font-size: 45px;
    color: lightseagreen;
    font-weight: bold;
    }

ul#info {
    display:none;
}

.red {
    color:red;
    font-weight: bold;
}

.green {
    color:green;
    font-weight: bold;
}

li.jogador ul.scout {
margin-left:30px;
border-width: thin;
border-style: dashed;
border-color: gray;
border-top: none;
border-left: none;
display:none;
}

#img_icon_pm {
    background-image: url('../Imagem/plus-minus-icon-27953.png');
    float:right;
    width:60px;
    height:60px;
}

.time-listar{
    float: right;
    margin-top: -60px;
    margin-right: 0px;
    height: 50px;
}

.time-exluir {
    float: right;
    margin-top: -52px;
    margin-right: 55px;
}

.nota-green{
    color: green !important;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px green;
}

.nota-red{
    color: red !important;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px red;
}

.nota{
  background-color:#c1c1c1;
  text-align:center;
  font-weight: bold;
}

.jogador {
    margin:0;
}

.jogador-detalhes {
    list-style:none;
    padding-left: 0px;
    margin-left: 10px;
    color:white;
}

#ButtonPanel{
    background: lightskyblue;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px 5px;
    margin: 15px;
    margin-left: 0px;
    text-align: right;
    padding-right: 30px;
}

#ButtonPanel a{
    text-decoration: none;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
}

#ButtonPanel a:hover a:visited a:active {
    text-decoration: none;
}


#ButtonPanel ul{
    display: inline-flex;
    list-style: none;
    }

#ButtonPanel ul li{
    text-decoration: none;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
    margin-left: 10px;
}


#MenuHeader{
    background: lightskyblue;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px 5px;
    margin-bottom: 15px;
    margin-left: 0px;
    text-align: left;
    padding-right: 30px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 97%;
    box-shadow: 0px 5px lightgray;
}

#MenuHeader a{
    text-decoration: none;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
}

#MenuHeader a:hover a:visited a:active {
    text-decoration: none;
}

#MenuHeader ul{
    display: inline-flex;
    list-style: none;
    }

#MenuHeader ul li{
    text-decoration: none;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
    margin-left: 10px;
}

.well_position {
    width: 85%;
    margin-left: 10%;
}

.nota_time {
    float:right;
    margin-top:-50px;
    margin-right: 15%;
    font-size: 15px;
}

.form-group-position{
    margin-left:10%;
    width:100%;
}

.form-group-position input[type=text]{
    width:80%;
}

.progress-botton-0 {
    color:black;
    margin-bottom:-10px !important;
}

#time {
    padding: 50px;
    color:aliceblue;
    }

.block-jogadores {
    display:none;
}

.time-jogadores {
    display:-webkit-inline-box;
    padding-bottom:10px;
    overflow-x:auto;
    padding-left: 0px;
    border-width: 1px;
    border-color: lightgray;
    border-style:solid;
    margin-left: 2.5%;
    width: 92.5%;
    background-color: #f1f1f1;
    border-radius: 0px 0px 5px 5px;
}

.atleta-posicao {
    background-color:black;
    color:white;
    font-weight:bold;
    left:0;
    float:left;
    width:25%;
    border-right:solid 1px;
}